{% extends "layout.html" %} 

{% block content %}    
    <div class="card text-center">
        <div class="card-header">
          APP Python
        </div>
        <div class="card-body">
          <h5 class="card-title">Servicio API Rest - WEB</h5>
          <p class="card-text">Aplicación para estudiar Python .</p>
          <img src="..\static\image\python.png" width="300" height="300" alt="python" loading="lazy">
        </div>
        <div class="card-footer text-muted">
          @wlopera - 2023
        </div>
      </div>
{% endblock %}